<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a [routerLink]="['/contact']" class="fb-ic">
                        <mdb-icon fab icon="facebook" size="3x" class="white-text p-2"></mdb-icon>
                    </a>
                    <!--Linkedin -->
                    <a [routerLink]="['/contact']" class="li-ic">
                        <mdb-icon fab icon="linkedin" size="3x" class="white-text p-2"></mdb-icon>
                    </a>
                    <!--Instagram-->
                    <a [routerLink]="['/contact']" class="ins-ic">
                        <mdb-icon fab icon="instagram" size="3x" class="white-text p-2"></mdb-icon>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->