<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue-gradient">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" [routerLink]="['/']">
            <i class="fa fa-2x fa-home"></i>
        </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/projects/personal']" mdbWavesEffect>
                Personal Projects
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/projects/commercial']" mdbWavesEffect>
              Commercial Projects
            </a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              About<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" [routerLink]="['/contact']" mdbWavesEffect href="#">Contact</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" [routerLink]="['/dissertations']" mdbWavesEffect href="#">Dissertations</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->