<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue-gradient">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" [routerLink]="['/']">
            <i class="fa fa-2x fa-home"></i>
        </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/projects/personal']" mdbWavesEffect>
                Personal Projects
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/projects/commercial']" mdbWavesEffect>
              Commercial Projects
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/academic']" mdbWavesEffect>
              Academic Projects
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/projects/other']" mdbWavesEffect>
            Other Projects
          </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/contact']" mdbWavesEffect>
              Contact
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" *ngIf="!isAuthenticated()" [routerLink]="['/login']" mdbWavesEffect>Login</a>
                <a class="nav-link waves-light" *ngIf="isAuthenticated()" (click)="logout()" mdbWavesEffect>Logout</a>
            </li>
        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->