<mdb-card cascade="true">

    <!--Card image-->
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="{{data.Media[0].Url}}"></mdb-card-img>
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <mdb-card-header>
        <h4 class="card-title">
            <strong>{{data.Title}}</strong>
        </h4>
        <h5 class="indigo-text">
            <strong>{{data.SubTitle}}</strong>
        </h5>
    </mdb-card-header>


    <mdb-card-body class="h-15">
        <mdb-card-text class="pt-2 pb-2 ">
            {{data.Description}}
        </mdb-card-text>
        <div class="d-flex align-items-end">
            <div>
                <a *ngFor="let o of data.References" href="{{o.Url}}" rel="noopener" target="_blank" mdbBtn color="unique" class="waves-light" mdbWavesEffect>
                    <mat-icon>{{o.Icon}}</mat-icon>
                    {{o.Title}}
                </a>
            </div>
        </div>
    </mdb-card-body>

</mdb-card>