<!--Grid row-->
<div class="row text-center">

    <!--Grid column-->
    <div *ngFor="let o of data.projects" class="col-lg-4 col-md-12 mb-4 ">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
            <img src="{{o.media[0].url}}" class="img-fluid" alt="{{o.media[0].title}}">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Excerpt-->
        <mdb-card-body class="bg-shadow-02 d-block">
            <h4>
                <strong>{{o.title}}</strong>
            </h4>
            <p class="grey-text">{{o.description}}
            </p>
            <a *ngFor="let n of o.references" href="{{o.url}}" rel="noopener" target="_blank" mdbBtn color="indigo" size="sm" class="waves-light" mdbWavesEffect>
                <mdb-icon fas icon="{{n.icon}}" class="left"></mdb-icon>
                {{n.title}}
            </a>

        </mdb-card-body>

    </div>
    <!--Grid column-->



</div>
<!--Grid row-->