<!-- Jumbotron -->
<div [style.backgroundImage]="'url('+data.Banner?.Url+')'" class="jumbotron text-center text-shadow mdb-color lighten-2 white-text mx-2 mb-5">

    <!-- Title -->
    <h2 class="card-title h2">{{data.Title}}</h2>

    <!-- Subtitle -->
    <p class="my-4 h6">{{data.SubTitle}}</p>

    <!-- Grid row -->
    <div class="row d-flex justify-content-center">

        <!-- Grid column -->
        <div class="col-xl-7 pb-2">

            <p class="h2-responsive">{{data.Description}}</p>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->


</div>
<!-- Jumbotron -->

<!-- News jumbotron -->
<div *ngFor="let o of data.Features" class="jumbotron text-center hoverable p-4">

    <app-project-feature [data]="o"></app-project-feature>

</div>
<!-- News jumbotron -->

<div class="jumbotron text-center hoverable p-5">

    <mat-carousel timings="250ms ease-in" [autoplay]="false" interval="5000" color="accent" maintainAspectRatio="true" maxWidth="100%" proportion="75" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
        orientation="ltr">
        <mat-carousel-slide #matCarouselSlide *ngFor="let slide of data.Media; let i = index" [image]="slide.Url" overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
    </mat-carousel>

</div>