<!-- Jumbotron -->
<div class="jumbotron text-center mdb-color lighten-2 white-text mx-2 mb-5">

    <!-- Title -->
    <h2 class="card-title h2">{{data.title}}</h2>

    <!-- Subtitle -->
    <p class="my-4 h6">{{data.subtitle}}</p>

    <!-- Grid row -->
    <div class="row d-flex justify-content-center">

        <!-- Grid column -->
        <div class="col-xl-7 pb-2">

            <p class="card-text">{{data.description}}</p>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr class="my-4 rgba-white-light">

    <div class="pt-2">
        <button type="button" mdbBtn color="white" outline="true" mdbWavesEffect class="waves-light">Download <mdb-icon fas icon="download" class="ml-1"></mdb-icon></button>
    </div>

    <hr class="my-4 rgba-white-light">

    <div class="w-50 m-auto">
        <mat-carousel timings="250ms ease-in" [autoplay]="false" interval="5000" color="accent" maintainAspectRatio="true" maxWidth="100%" proportion="75" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
            orientation="ltr">
            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of data.media; let i = index" [image]="slide.url" overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
        </mat-carousel>
    </div>

</div>
<!-- Jumbotron -->

<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

    <app-project-feature [data]="data.features[0]"></app-project-feature>

</div>
<!-- News jumbotron -->