<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

        <!-- Featured image -->
        <div class=" overlay waves-light" mdbWavesEffect>

            <div class="img-fluid img-thumbnail z-depth-4">
                <ng-image-slider [manageImageRatio]="true" [images]="[{image: data.Image.Url,thumbImage: data.Image.Url,alt:data.Image.Title,title:data.Image.Title}]" #nav></ng-image-slider>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

        </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

        <h4 class="h4 mb-4">
            <mdb-icon *ngIf="data.Icon" icon="{{data.Icon.Name}}" [ngClass]="data.Icon.Group" class="pr-3 fa-lg {{data.Icon.Color}} {{data.Icon.Group}}"></mdb-icon>
            <span class="font-weight-light h1-responsive text-muted">{{data.Title}}</span>
            <h5 class=" mt-3">
                <span class="font-weight-light h4-responsive border-bottom text-muted">{{data.SubTitle}}</span>
            </h5>
        </h4>
        <ul class="font-weight-normal text-left">
            <li *ngFor="let o of data.FeatureSet">{{o}}</li>
        </ul>
        <p class="font-weight-normal">by <a><strong>{{data.Author}}</strong></a>, {{data.DateStamp}}</p>

    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->