/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-shadow-02 {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.bg-shadow-05 {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.blur-50px {
    filter: blur(50px);
}