html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.bg-shadow-02 {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.bg-shadow-05 {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.bg-fixed {
  position: fixed !important;
  top: 0;
  z-index: -1;
}
.bg-cover {
  background-size: cover;
}
.blur-5px {
  filter: blur(5px) opacity(0.5);
}
.blur-10px {
  filter: blur(10px);
}
.blur-25px {
  filter: blur(25px);
}
.blur-50px {
  filter: blur(50px);
}
.orange-spinner circle {
  stroke: orange !important;
}
.carousel-slide {
  background-size: contain !important;
}
.btn:hover {
  color: white !important;
  text-shadow: 0px 0px 30px white;
}
.text-shadow {
  text-shadow: 2px 2px black;
}
.main-inner,
.img-div {
  min-width: 100%;
  width: 100%;
}
.text-alternate span:nth-child(odd) {
  color: #cdcdcd !important;
}
.text-alternate span:not(:last-child)::after {
  content: ", ";
}
